spring:
  profiles:
    active: local
  config:
    import: "aws-parameterstore:/config/application/"

logging:
  level:
    root: INFO
    "[API - LOG]": INFO

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info"

info:
  team-name: ${team-name}

aws:
  paramstore:
    enabled: true
    prefix: /config
    name: application