spring:
  config:
    import: ""

  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  cloud:
    aws:
      s3:
        bucket: memebers-kjj3187-files
      region:
        static: ap-northeast-2
      parameterstore:
        enabled: false

team-name: "local-test-team"
S3_BUCKET_NAME: "memebers-kjj3187-files"