spring:
  cloud:
    aws:
      s3:
        bucket: ${S3_BUCKET_NAME}
      region:
        static: ap-northeast-2
      parameterstore:
        enabled: true
  config:
    import: "aws-parameterstore:/config/application/"

logging:
  level:
    root: INFO
    "[API - LOG]": INFO

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info"

info:
  team-name: ${team-name}