name: ci.yml
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon
        env:
          SPRING_DATASOURCE_URL: "jdbc:h2:mem:test;MODE=MySQL"
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: "org.h2.Driver"
          SPRING_JPA_DATABASE_PLATFORM: "org.hibernate.dialect.H2Dialect"
          SPRING_JPA_HIBERNATE_DDL_AUTO: "create"
          SPRING_FLYWAY_ENABLED: "false"
